<header class="bg-white shadow-sm sticky-top">
    <div class="p-2 bg-green"></div>
    <div class="d-flex align-items-center border-bottom">
        <div class="d-flex align-items-center p-3">
            <h6 class="mb-0 ms-1 text-dark text-opacity-50">
                <i class="fa fa-landmark fa-2x"></i>
            </h6>
        </div>
        <ul class="menu mb-0">
            <li class="my-dropdown">
                <a class="my-dropdown-toggle dropdown-toggle" (click)="onToggle($event)">Menu</a>
                <ul class="my-dropdown-menu">
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1"><i
                                class="fas fa-cog me-2"></i> Paramètres</a></li>
                    <li class="my-dropdown">
                        <a routerLink="/admin/utilisateurs"><i class="fas fa-users me-2"></i> Gestion
                            des utilisateurs</a>
                    </li>
                    <li><a routerLink="/admin/importation"><i class="fas fa-upload me-2"></i> Importation</a></li>
                    <li><a routerLink="/admin/dossier-impression"><i class="fas fa-print me-2"></i> Dossiers impression</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-user-lock me-2"></i> Modifier mot de passe</a></li>
                    <li><a href="#"><i class="fas fa-times me-2 text-danger"></i> Quitter</a></li>
                </ul>
            </li>
            <li class="my-dropdown">
                <a class="my-dropdown-toggle dropdown-toggle" (click)="onToggle($event)">Module Acquisition</a>
                <ul class="my-dropdown-menu">
                    <li><a href="#">Client</a></li>
                    <li><a href="#">Fournisseur</a></li>
                    <li><a href="#">Bon de commande</a></li>
                    <li><a href="#">Famille</a></li>
                    <li><a href="#">Nature du bien</a></li>
                    <li><a href="#">Gestion des acquisitions</a></li>
                    <li><a href="#">Liste des acquisitions en attente de code inventaire</a></li>
                </ul>
            </li>
            <li class="my-dropdown">
                <a class="my-dropdown-toggle dropdown-toggle" (click)="onToggle($event)">Module Inventaire</a>
                <ul class="my-dropdown-menu">
                    <li><a href="#">Gérer les emplacements</a></li>
                    <li class="my-dropdown dropend">
                        <a class="my-dropdown-toggle dropdown-toggle" (click)="onToggle($event)">QRCode</a>
                        <ul class="my-dropdown-submenu">
                            <li><a href="#">Bordereau</a></li>
                            <li><a href="#">Localisation</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Liste des biens orphelins</a></li>
                    <li class="my-dropdown dropend">
                        <a class="my-dropdown-toggle dropdown-toggle" (click)="onToggle($event)">Edition de la
                            codification</a>
                        <ul class="my-dropdown-submenu">
                            <li><a href="#">Zones</a></li>
                            <li><a href="#">Sites</a></li>
                            <li><a href="#">Localisations</a></li>
                            <li><a href="#">Biens</a></li>
                            <li><a href="#">Borderaux</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Recherche rapide d'un bien</a></li>
                    <li><a href="#">Recherche avançée</a></li>
                </ul>
            </li>
            <li class="my-dropdown">
                <a class="my-dropdown-toggle dropdown-toggle" (click)="onToggle($event)">Module Mouvement</a>
                <ul class="my-dropdown-menu">
                    <li><a href="#">Mouvement de bien</a></li>
                    <li><a href="#">Historique des transferts</a></li>
                    <li><a href="#">Historique des propositions de mises au rébut et réactivation</a></li>
                    <li><a href="#">Historique des validations de mises au rébut</a></li>
                </ul>
            </li>
            <li class="my-dropdown">
                <a class="my-dropdown-toggle dropdown-toggle" (click)="onToggle($event)">Module Amortissement</a>
                <ul class="my-dropdown-menu">
                    <li><a href="#">Vérification de plan d'amortissement</a></li>
                    <li><a href="#">Amortissements par an</a></li>
                    <li><a href="#">Amortissements journaliers</a></li>
                    <li><a href="#">Générer les écritures comptables</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu mb-0 ms-auto">
            <li>
                <a href="#">
                    <i class="fa fa-power-off me-2 text-warning"></i>
                    Déconnexion
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="container-fluid p-4">
    <div class="card border-0">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Modal paramètre -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 5px;">
            <div class="modal-header border-bottom-green"
                style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
                <h5 class="modal-title text-green text-uppercase" id="exampleModalLabel">
                    <i class="fa fa-cog me-2"></i>
                    Paramètres
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-3">
                    <button type="button" class="button rounded-0 {{ changeParametreTab == 0 ? 'blue active' : '' }}"
                        (click)="changeParametreTab = 0"><i class="fa fa-building me-2"></i> Informations
                        société</button>
                    <button type="button" class="button rounded-0 {{ changeParametreTab == 1 ? 'blue active' : '' }}"
                        (click)="changeParametreTab = 1"><i class="fa fa-print me-2"></i> Imprimante</button>
                </div>

                <!-- Contenu de la zone *Informations société* -->
                <div class="setting-content p-3 border" *ngIf="changeParametreTab == 0">
                    <div class="mb-3">
                        <input type="text" class="input" placeholder="Raison sociale">
                        <input type="text" class="input" placeholder="Adresse">
                        <input type="text" class="input" placeholder="Contact">
                    </div>

                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <div class="border d-flex align-items-center justify-content-center"
                                style="width: 90px; height: 90px;">
                                <label for="upload-logo" class="button blue pointer-cursor" data-bs-toggle="tooltip"
                                    data-bs-title="Importer un logo"><i class="fa fa-image"></i></label>
                                <input type="file" id="upload-logo" class="d-none">
                            </div>
                            <div class="mt-2 d-flex justify-content-around">
                                <button class="button">
                                    <i class="fa fa-edit text-primary"></i>
                                </button>
                                <button class="button">
                                    <i class="fa fa-trash text-danger"></i>
                                </button>
                            </div>
                        </div>
                        <div class="ms-3">
                            <div class="border d-flex align-items-center justify-content-center"
                                style="width: 90px; height: 90px;">
                                <label for="upload-qrcode" class="button blue pointer-cursor"><i
                                        class="fa fa-qrcode"></i></label>
                                <input type="file" id="upload-qrcode" class="d-none">
                            </div>
                            <div class="mt-2 d-flex justify-content-around">
                                <button class="button">
                                    <i class="fa fa-edit text-primary"></i>
                                </button>
                                <button class="button">
                                    <i class="fa fa-trash text-danger"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contenu de la zone *Imprimante* -->
                <div class="setting-content p-3 border" *ngIf="changeParametreTab == 1">
                    <div class="mb-3">
                        <label class="form-label">Etiquette de l'imprimante</label>
                        <select class="select">
                            <option value="">-- Choisir l'imprimante --</option>
                        </select>
                        <input type="text" class="input">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Imprimante 14</label>
                        <select class="select">
                            <option value="">-- Choisir l'imprimante --</option>
                        </select>
                        <input type="text" class="input">
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="button" data-bs-dismiss="modal">Fermer <i
                        class="fa fa-times ms-2 text-danger"></i></button>
                <button type="button" class="button green">Enregistrer <i class="fa fa-save ms-2"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal modif mot de passe -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 5px;">
            <div class="modal-header border-bottom-green"
                style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
                <h5 class="modal-title text-green text-uppercase" id="exampleModalLabel">
                    <i class="fa fa-user-lock me-2"></i>
                    Modifier mot de passe
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="p-3 border">
                    <div class="mb-3">
                        <div>
                            <label class="form-label">Groupe</label>
                            <select class="select" disabled>
                                <option value="">Administrateur</option>
                            </select>
                        </div>
                        <div>
                            <label class="form-label">Identification</label>
                            <input type="text" class="input" value="Admin" disabled>
                        </div>
                        <input type="password" class="input" placeholder="Mot de passe">
                        <input type="password" class="input" placeholder="Ressaisir">
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="button" data-bs-dismiss="modal">Fermer <i
                        class="fa fa-times ms-2 text-danger"></i></button>
                <button type="button" class="button green">Enregistrer <i class="fa fa-save ms-2"></i></button>
            </div>
        </div>
    </div>
</div>